<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Homepage</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="seluruh">
      <h1>Menentukan Umur Berdasarkan Tahun Lahir</h1>
      <div>
        <form method="POST">
          <label for="tahun">Tahun Lahir:</label>
          <input type="number" id="tahun" name="tahun" required />
          <br />
          <button type="submit" class="btn-cal">Hitung</button>
        </form>
        <br />
        <div style="text-align: center">
          {% if hasil is not none %}
          <h2>Hasil</h2>
          <h2>Umur anda adalah {{hasil}} Tahun</h2>
          {% endif %} {% if ai_output is not none %}
          <h2>Fakta Menarik</h2>
          <p>{{ai_output}}</p>
          {% endif %}
        </div>
        <button class="btn-bck">
          <a href="/">Kembali ke Halaman utama</a>
        </button>
      </div>
    </div>
  </body>
</html>
