<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Homepage</title>
  </head>
  <body class="body-home">
    <h1>PROJECT SEDERHANA</h1>
    <p style="text-align: center">Menu sederhana yang bisa anda pakai</p>
    <div class="option">
      <div class="option-cal">
        <div class="isi-cal">
          <h2>Kalkulator sederhana</h2>
          <p>
            ini adalah sebuah kalkulator sederhana untuk mengoperasikan
            penjumlahan, pengurangan, perkalian, pembagian
          </p>
          <br />
          <button class="btn-cal"><a href="/kalkulator">Go</a></button>
        </div>
      </div>
      <div class="option-cal">
        <div class="isi-cal">
          <h2>Status Berat Badan BMI</h2>
          <p>
            ini adalah sebuah website untuk mengecek status berat badan anda
          </p>
          <br /><br /><br /><br />
          <button class="btn-cal">
            <a href="/bmi">Go</a>
          </button>
        </div>
      </div>
      <div class="option-cal">
        <div class="isi-cal">
          <h2>Rumus Bangun Dasar Sederhana</h2>
          <p>
            ini adalah sebuah website untuk mencari luas dan keliling bangun
            dasar
          </p>
          <br /><br />
          <button class="btn-cal">
            <a href="/rumus">Go</a>
          </button>
        </div>
      </div>

      <div class="option-cal">
        <div class="isi-cal">
          <h2>Menentukan umur berdasarkan Tahun Lahir</h2>
          <p>
            ini adalah sebuah website untuk menentukan umur sesuai tahun lahir
            anda dan akan ada fakta menarik seputar teknologi
          </p>
          <br />
          <button class="btn-cal">
            <a href="/umur">Go</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
